ICP7/Source Code/flows.json
[
  {
    "id": "f4e424fb.edce78",
    "type": "tab",
    "label": "Flow 5",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ae727b32.fb8b08",
    "type": "tab",
    "label": "Flow 6",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d21e5884.7ac4b8",
    "type": "tab",
    "label": "Flow 7",
    "disabled": false,
    "info": ""
  },
  {
    "id": "81fcd39a.deeca",
    "type": "twitter-credentials",
    "z": "",
    "screen_name": "aaz00966"
  },
  {
    "id": "369049ca.caacc6",
    "type": "inject",
    "z": "f4e424fb.edce78",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "7",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 100,
    "wires": [["fdd19921.97e018"]]
  },
  {
    "id": "fdd19921.97e018",
    "type": "function",
    "z": "f4e424fb.edce78",
    "name": "on",
    "func": "msg.payload=1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 190,
    "y": 220,
    "wires": [["7bc7acb.cedc354", "72255831.029618"]]
  },
  {
    "id": "7bc7acb.cedc354",
    "type": "delay",
    "z": "f4e424fb.edce78",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 320,
    "y": 240,
    "wires": [["1435a1ca.91ecfe"]]
  },
  {
    "id": "1435a1ca.91ecfe",
    "type": "function",
    "z": "f4e424fb.edce78",
    "name": "off",
    "func": "msg.payload=0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 260,
    "wires": [["2905f395.ac1dec", "72255831.029618"]]
  },
  {
    "id": "2905f395.ac1dec",
    "type": "function",
    "z": "f4e424fb.edce78",
    "name": "on",
    "func": "msg.payload=1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 260,
    "wires": [["d06cc1da.e8ad6", "80e64df6.e4abb"]]
  },
  {
    "id": "d06cc1da.e8ad6",
    "type": "delay",
    "z": "f4e424fb.edce78",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 780,
    "y": 280,
    "wires": [["29a139a2.674d96"]]
  },
  {
    "id": "29a139a2.674d96",
    "type": "function",
    "z": "f4e424fb.edce78",
    "name": "off",
    "func": "msg.payload=0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 930,
    "y": 300,
    "wires": [["e51dbc39.bb539", "80e64df6.e4abb"]]
  },
  {
    "id": "e51dbc39.bb539",
    "type": "function",
    "z": "f4e424fb.edce78",
    "name": "on",
    "func": "msg.payload=1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1050,
    "y": 220,
    "wires": [["f0d5a478.e1b958", "cb658e8f.f47d4"]]
  },
  {
    "id": "f0d5a478.e1b958",
    "type": "delay",
    "z": "f4e424fb.edce78",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1180,
    "y": 240,
    "wires": [["a3c2bf6c.71992"]]
  },
  {
    "id": "a3c2bf6c.71992",
    "type": "function",
    "z": "f4e424fb.edce78",
    "name": "off",
    "func": "msg.payload=0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 260,
    "wires": [["cb658e8f.f47d4"]]
  },
  {
    "id": "2fe34d70.ba2702",
    "type": "rpi-gpio out",
    "z": "ae727b32.fb8b08",
    "name": "Green LED",
    "pin": "11",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 650,
    "y": 220,
    "wires": []
  },
  {
    "id": "4d9c79c3.f389f8",
    "type": "inject",
    "z": "ae727b32.fb8b08",
    "name": "ON",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 210,
    "y": 160,
    "wires": [["2fe34d70.ba2702"]]
  },
  {
    "id": "bb2a05e0.fb7cc8",
    "type": "inject",
    "z": "ae727b32.fb8b08",
    "name": "OFF",
    "topic": "",
    "payload": "",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 210,
    "y": 260,
    "wires": [["2fe34d70.ba2702"]]
  },
  {
    "id": "72255831.029618",
    "type": "rpi-gpio out",
    "z": "f4e424fb.edce78",
    "name": "YELLOW LED",
    "pin": "11",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 580,
    "y": 60,
    "wires": []
  },
  {
    "id": "80e64df6.e4abb",
    "type": "rpi-gpio out",
    "z": "f4e424fb.edce78",
    "name": "Green LED",
    "pin": "13",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 770,
    "y": 120,
    "wires": []
  },
  {
    "id": "cb658e8f.f47d4",
    "type": "rpi-gpio out",
    "z": "f4e424fb.edce78",
    "name": "RED LED",
    "pin": "15",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 1000,
    "y": 60,
    "wires": []
  },
  {
    "id": "efb5cfb8.b31c",
    "type": "debug",
    "z": "d21e5884.7ac4b8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 530,
    "y": 160,
    "wires": []
  },
  {
    "id": "2dc70559.c0294a",
    "type": "inject",
    "z": "d21e5884.7ac4b8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 160,
    "wires": [["5412834e.2f994c"]]
  },
  {
    "id": "5412834e.2f994c",
    "type": "rpi-dht22",
    "z": "d21e5884.7ac4b8",
    "name": "temp",
    "topic": "rpi-dht22",
    "dht": "22",
    "pintype": "0",
    "pin": "4",
    "x": 290,
    "y": 200,
    "wires": [["efb5cfb8.b31c", "94befe56.c954d"]]
  },
  {
    "id": "94befe56.c954d",
    "type": "function",
    "z": "d21e5884.7ac4b8",
    "name": "Prettify",
    "func": "msg.topic = \"tweet/calebcvt\";\nmsg.location = \"Kansas City, MO\"\ntemp_str = \"The temp is: \" + msg.payload \nmsg.payload = temp_str;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 320,
    "wires": [["b12bd734.61c418"]]
  },
  {
    "id": "b12bd734.61c418",
    "type": "twitter out",
    "z": "d21e5884.7ac4b8",
    "twitter": "81fcd39a.deeca",
    "name": "Tweet",
    "x": 740,
    "y": 260,
    "wires": []
  }
]
